*{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left img{
    width: 100px;
    height: 100px;
}
 header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 300px;
}
a{
    text-decoration: none;
    color: black;
}
.columna{
    background-color: grey;
    width: 200px;
    padding: 15px;
}
.columna ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
ul{
    padding:0px;
}